.bannerSubheading1 {
  font-size:20px;
}

.bannerSubheading2 {
  font-size:26px;
}

.bannerSubheading3 {
  font-size:16px;
}

.homeBanner .owl-stage-outer{
  padding-bottom:0px;
}

.location_titleimage1 {
  position: absolute;
  top: -55px;
  left: 100px; 
}

.location_titleimage2 {
  position: absolute;
  top: -56px;
  left: 300px;
}

.labBoxht {
  min-height: 285px;
}

.productCarouselImg {
  width:100%;
}